<p>Dear {{ user.username }}</p>
<p>
    To reset your password, please <a href="{{ url_for('reset_password', token=token, _external=True) }}">click here:
    </a>.
</p>
<p>Alternatively, if you cannot access the link given above, try pasting the following link to your browser's address bar:</p>
<p>{{ url_for('reset_password', token=token, _external=True)}}</p>
<p>If you have not requested the password reset, simply ignore this message.</p>
<p>Also, please be aware of the risk that someone else have acquired access to your account.</p>
<p>Yours Sincerely,</p>
<p>The Microblog Team</p>
